{
    "aardvark_api_location": "http://{{ aardvark_host }}/api/1/advisors",
    "active_filters": [
        "repokid.filters.age:AgeFilter", 
        "repokid.filters.blocklist:BlocklistFilter",
        "repokid.filters.optout:OptOutFilter",
        "repokid.filters.exclusive:ExclusiveFilter"
    ], 
    "connection_iam": {
        "assume_role": "{{ repokid_role }}",
        "region": "{{ aws_region }}",
        "session_name": "repokid"
    }, 
    "dispatcher": {
        "from_rr_sns": "RESPONSES_FROM_REPOKID_SNS_ARN", 
        "region": "{{ aws_region }}",
        "session_name": "repokid", 
        "to_rr_queue": "COMMAND_QUEUE_TO_REPOKID_URL"
    }, 
    "dynamo_db": {
        "account_number": "", 
        "assume_role": "", 
        "endpoint": "{{ dynamodb_endpoint }}",
        "region": "{{ dynamodb_region }}",
        "session_name": "repokid"
    }, 
    "filter_config": {
        "AgeFilter": {
            "minimum_age": 180
        }, 
        "BlocklistFilter": {
            "all": [
                "qa-web-hidden-shares-ecs-service-task-us-west-2",
                "qa-web-hidden-shares-ecs-service-task-us-east-2",
                "qa-web-hidden-shares-ecs-service-task-eu-central-1",
                "qa-web-hidden-shares-ecs-service-task-ap-northeast-1",
                "qa-svc-oauth-v2-ecs-service-task-eu-central-1",
                "qa-svc-oauth-v2-ecs-service-task-us-west-2",
                "qa-svc-oauth-v2-ecs-service-task-us-east-2",
                "qa-svc-oauth-v2-ecs-service-task-ap-northeast-1",
                "staging-svc-oauth-v2-ecs-service-task-ap-northeast-1",
                "staging-svc-oauth-v2-ecs-service-task-eu-central-1",
                "staging-svc-oauth-v2-ecs-service-task-us-east-2",
                "staging-svc-oauth-v2-ecs-service-task-us-west-2"
            ]
	},
	"ExclusiveFilter": {
		"all": [
            "*-qa*",
            "qa-*",
            "*-staging*",
            "staging-*"
		]
	}
    }, 
    "hooks": [
        "repokid.hooks.loggers"
    ], 
    "logging": {
        "disable_existing_loggers": "False", 
        "formatters": {
            "standard": {
                "format": "%(asctime)s %(levelname)s: %(message)s"
            }
        }, 
        "handlers": {
            "console": {
                "class": "logging.StreamHandler", 
                "formatter": "standard", 
                "level": "INFO", 
                "stream": "ext://sys.stdout"
            }, 
            "file": {
                "backupCount": 100, 
                "class": "logging.handlers.RotatingFileHandler", 
                "encoding": "utf8", 
                "filename": "repokid.log", 
                "formatter": "standard", 
                "level": "INFO", 
                "maxBytes": 10485760
            }
        }, 
        "loggers": {
            "repokid": {
                "handlers": [
                    "file",
                    "console"
                ], 
                "level": "INFO",
                "propagate": false
            }
        }, 
        "version": 1
    }, 
    "opt_out_period_days": 90, 
    "repo_requirements": {
        "exclude_new_permissions_for_days": 14, 
        "oldest_aa_data_days": 5
    }, 
    "repo_schedule_period_days": 7, 
    "warnings": {
        "unknown_permissions": false
    }
}
